In [ ]:
%run BreakHighestAnalyser.ipynb

scale=100
short_array = [10]
mid_array = [20,40,60,80,90,120]

for short in short_array:
    for mid in mid_array:
        analyser = BreakHighestAnalyser(scale,level_day,short,mid)
        analyser.get_all_sections_of_all_symbols()
        print('get_all_sections_of_all_symbols '+str(short)+' '+str(mid)+ ' done')

build SZ#000001 break sections
start to analyse Day level SZ#000001 all break sections...
build SZ#000652 break sections
start to analyse Day level SZ#000652 all break sections...
build SZ#000960 break sections
start to analyse Day level SZ#000960 all break sections...
build SZ#002177 break sections
start to analyse Day level SZ#002177 all break sections...
build SZ#002391 break sections
start to analyse Day level SZ#002391 all break sections...
build SZ#002605 break sections
start to analyse Day level SZ#002605 all break sections...
build SZ#002828 break sections
start to analyse Day level SZ#002828 all break sections...
build SZ#300109 break sections
start to analyse Day level SZ#300109 all break sections...
build SZ#300323 break sections
start to analyse Day level SZ#300323 all break sections...
build SZ#300539 break sections
start to analyse Day level SZ#300539 all break sections...
build SZ#000002 break sections
start to analyse Day level SZ#000002 all break sections...
build SZ#000655 break sections
start to analyse Day level SZ#000655 all break sections...
build SZ#000961 break sections
start to analyse Day level SZ#000961 all break sections...
build SZ#002178 break sections
start to analyse Day level SZ#002178 all break sections...
build SZ#002392 break sections
start to analyse Day level SZ#002392 all break sections...
build SZ#002606 break sections
start to analyse Day level SZ#002606 all break sections...
build SZ#002829 break sections
start to analyse Day level SZ#002829 all break sections...
build SZ#300110 break sections
start to analyse Day level SZ#300110 all break sections...
build SZ#300324 break sections
start to analyse Day level SZ#300324 all break sections...
build SZ#300540 break sections
start to analyse Day level SZ#300540 all break sections...
build SZ#000004 break sections
start to analyse Day level SZ#000004 all break sections...
build SZ#000656 break sections
start to analyse Day level SZ#000656 all break sections...
build SZ#000962 break sections
start to analyse Day level SZ#000962 all break sections...
build SZ#002179 break sections
start to analyse Day level SZ#002179 all break sections...

In [2]:
%run MA_Cross_EntranceAnalyser.ipynb

scale=100
short_array = [10]
mid_array = [20,40,60,80,90,120]

analyser = MA_Cross_EntranceAnalyser(scale)

quantity_df = analyser.get_quantity(short_array,mid_array)
quantity_df

entrance_columns ['symbol', 's_date', 'e_date', 'short', 'mid', 'total', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']
get_all_sections_of_all_symbols done total:1265
find all cross sections...
4.0% 8.0% 12.0% 16.0% 20.0% 24.0% 28.0% 32.0% 36.0% 40.0% 44.0% 48.0% 52.0% 56.0% 60.0% 64.0% 68.0% 72.0% 76.0% 80.0% 84.0% 88.0% 92.0% 96.0% 100.0% resonate_df shape 912
100,10,20    short   mid  total     4      5      6      7     8      9     10     11  \
0   10.0  20.0  912.0  27.3  33.55  40.79  47.26  53.4  58.77  64.25  69.08

     12     13     14     15
0  73.9  77.63  79.82  83.11

entrance_columns ['symbol', 's_date', 'e_date', 'short', 'mid', 'total', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']
get_all_sections_of_all_symbols done total:636
find all cross sections...
4.55% 9.09% 13.64% 18.18% 22.73% 27.27% 31.82% 36.36% 40.91% 45.45% 50.0% 54.55% 59.09% 63.64% 68.18% 72.73% 77.27% 81.82% 86.36% 90.91% 95.45% 100.0% resonate_df shape 583
100,10,40    short   mid  total     4      5      6      7      8      9     10     11  \
0   10.0  20.0  912.0  27.3  33.55  40.79  47.26  53.40  58.77  64.25  69.08
1   10.0  40.0  583.0  24.7  30.02  37.91  43.40  49.91  56.95  62.95  68.78

     12     13     14     15
0  73.9  77.63  79.82  83.11
1  74.1  77.70  80.45  82.50

entrance_columns ['symbol', 's_date', 'e_date', 'short', 'mid', 'total', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']
get_all_sections_of_all_symbols done total:447
find all cross sections...
4.82% 9.64% 14.46% 19.28% 24.1% 28.92% 33.73% 38.55% 43.37% 48.19% 53.01% 57.83% 62.65% 67.47% 72.29% 77.11% 81.93% 86.75% 91.57% 96.39% resonate_df shape 488
100,10,60    short   mid  total      4      5      6      7      8      9     10     11  \
0   10.0  20.0  912.0  27.30  33.55  40.79  47.26  53.40  58.77  64.25  69.08
1   10.0  40.0  583.0  24.70  30.02  37.91  43.40  49.91  56.95  62.95  68.78
2   10.0  60.0  488.0  21.93  26.84  33.81  39.55  46.31  56.35  61.68  66.80

      12     13     14     15
0  73.90  77.63  79.82  83.11
1  74.10  77.70  80.45  82.50
2  73.57  75.82  79.51  81.76

entrance_columns ['symbol', 's_date', 'e_date', 'short', 'mid', 'total', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']
get_all_sections_of_all_symbols done total:351
find all cross sections...
5.13% 10.26% 15.38% 20.51% 25.64% 30.77% 35.9% 41.03% 46.15% 51.28% 56.41% 61.54% 66.67% 71.79% 76.92% 82.05% 87.18% 92.31% 97.44% resonate_df shape 427
100,10,80    short   mid  total      4      5      6      7      8      9     10     11  \
0   10.0  20.0  912.0  27.30  33.55  40.79  47.26  53.40  58.77  64.25  69.08
1   10.0  40.0  583.0  24.70  30.02  37.91  43.40  49.91  56.95  62.95  68.78
2   10.0  60.0  488.0  21.93  26.84  33.81  39.55  46.31  56.35  61.68  66.80
3   10.0  80.0  427.0  21.08  27.40  32.79  40.28  44.96  51.76  58.31  63.00

      12     13     14     15
0  73.90  77.63  79.82  83.11
1  74.10  77.70  80.45  82.50
2  73.57  75.82  79.51  81.76
3  66.74  70.73  76.58  80.56

entrance_columns ['symbol', 's_date', 'e_date', 'short', 'mid', 'total', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']
get_all_sections_of_all_symbols done total:313
find all cross sections...
5.26% 10.53% 15.79% 21.05% 26.32% 31.58% 36.84% 42.11% 47.37% 52.63% 57.89% 63.16% 68.42% 73.68% 78.95% 84.21% 89.47% 94.74% 100.0% resonate_df shape 393
100,10,90    short   mid  total      4      5      6      7      8      9     10     11  \
0   10.0  20.0  912.0  27.30  33.55  40.79  47.26  53.40  58.77  64.25  69.08
1   10.0  40.0  583.0  24.70  30.02  37.91  43.40  49.91  56.95  62.95  68.78
2   10.0  60.0  488.0  21.93  26.84  33.81  39.55  46.31  56.35  61.68  66.80
3   10.0  80.0  427.0  21.08  27.40  32.79  40.28  44.96  51.76  58.31  63.00
4   10.0  90.0  393.0  19.85  25.45  30.28  37.15  40.97  48.85  54.45  61.58

      12     13     14     15
0  73.90  77.63  79.82  83.11
1  74.10  77.70  80.45  82.50
2  73.57  75.82  79.51  81.76
3  66.74  70.73  76.58  80.56
4  65.90  70.23  74.55  77.61

entrance_columns ['symbol', 's_date', 'e_date', 'short', 'mid', 'total', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']
build SZ#000968 sections
start to analyse Week level SZ#000968 all cross sections...
build SZ#002184 sections
start to analyse Week level SZ#002184 all cross sections...
build SZ#002398 sections
start to analyse Week level SZ#002398 all cross sections...
build SZ#002612 sections
start to analyse Week level SZ#002612 all cross sections...
build SZ#002836 sections
start to analyse Week level SZ#002836 all cross sections...
build SZ#300116 sections
start to analyse Week level SZ#300116 all cross sections...
build SZ#300330 sections
start to analyse Week level SZ#300330 all cross sections...
build SZ#300547 sections
start to analyse Week level SZ#300547 all cross sections...
build SZ#000010 sections
start to analyse Week level SZ#000010 all cross sections...
build SZ#000665 sections
start to analyse Week level SZ#000665 all cross sections...
build SZ#000969 sections
start to analyse Week level SZ#000969 all cross sections...
build SZ#002185 sections
start to analyse Week level SZ#002185 all cross sections...
build SZ#002399 sections
start to analyse Week level SZ#002399 all cross sections...
build SZ#002613 sections
start to analyse Week level SZ#002613 all cross sections...
build SZ#002837 sections
start to analyse Week level SZ#002837 all cross sections...
build SZ#300117 sections
start to analyse Week level SZ#300117 all cross sections...
build SZ#300331 sections
start to analyse Week level SZ#300331 all cross sections...
build SZ#300548 sections
start to analyse Week level SZ#300548 all cross sections...
build SZ#000011 sections
start to analyse Week level SZ#000011 all cross sections...
build SZ#000666 sections
start to analyse Week level SZ#000666 all cross sections...
build SZ#000970 sections
start to analyse Week level SZ#000970 all cross sections...
build SZ#002186 sections
start to analyse Week level SZ#002186 all cross sections...
build SZ#002400 sections
start to analyse Week level SZ#002400 all cross sections...
build SZ#002614 sections
start to analyse Week level SZ#002614 all cross sections...
build SZ#002838 sections
start to analyse Week level SZ#002838 all cross sections...
build SZ#300118 sections
start to analyse Week level SZ#300118 all cross sections...
build SZ#300332 sections
start to analyse Week level SZ#300332 all cross sections...
build SZ#300549 sections
start to analyse Week level SZ#300549 all cross sections...
get_all_sections_of_all_symbols done total:251
find all cross sections...
5.71% 11.43% 17.14% 22.86% 28.57% 34.29% 40.0% 45.71% 51.43% 57.14% 62.86% 68.57% 74.29% 80.0% 85.71% 91.43% 97.14% resonate_df shape 340
100,10,120    short    mid  total      4      5      6      7      8      9     10  \
0   10.0   20.0  912.0  27.30  33.55  40.79  47.26  53.40  58.77  64.25
1   10.0   40.0  583.0  24.70  30.02  37.91  43.40  49.91  56.95  62.95
2   10.0   60.0  488.0  21.93  26.84  33.81  39.55  46.31  56.35  61.68
3   10.0   80.0  427.0  21.08  27.40  32.79  40.28  44.96  51.76  58.31
4   10.0   90.0  393.0  19.85  25.45  30.28  37.15  40.97  48.85  54.45
5   10.0  120.0  340.0  21.18  25.88  32.65  37.65  41.76  47.35  52.35

      11     12     13     14     15
0  69.08  73.90  77.63  79.82  83.11
1  68.78  74.10  77.70  80.45  82.50
2  66.80  73.57  75.82  79.51  81.76
3  63.00  66.74  70.73  76.58  80.56
4  61.58  65.90  70.23  74.55  77.61
5  60.00  64.41  68.53  71.47  74.41

,short,mid,total,4,5,6,7,8,9,10,11,12,13,14,15
0,10.0,20.0,912.0,27.30,33.55,40.79,47.26,53.40,58.77,64.25,69.08,73.90,77.63,79.82,83.11
1,10.0,40.0,583.0,24.70,30.02,37.91,43.40,49.91,56.95,62.95,68.78,74.10,77.70,80.45,82.50
2,10.0,60.0,488.0,21.93,26.84,33.81,39.55,46.31,56.35,61.68,66.80,73.57,75.82,79.51,81.76
3,10.0,80.0,427.0,21.08,27.40,32.79,40.28,44.96,51.76,58.31,63.00,66.74,70.73,76.58,80.56
4,10.0,90.0,393.0,19.85,25.45,30.28,37.15,40.97,48.85,54.45,61.58,65.90,70.23,74.55,77.61
5,10.0,120.0,340.0,21.18,25.88,32.65,37.65,41.76,47.35,52.35,60.00,64.41,68.53,71.47,74.41

In [ ]:
%run BasicDataRebuilder.ipynb
%run Constant.ipynb


rebuild = BasicDataRebuilder()
short=10
for mid in [20,40,60,80,90,120]:
    rebuild.rebuild_all_sections(0,100,level_day,short,mid)
    print(str(mid)+' done')

In [ ]:
%run BasicDataRebuilder.ipynb


rebuild = BasicDataRebuilder()
rebuild.rebuild_chan_data(0,100,60,120)