In [1]:
%run SectionManager.ipynb
%run Constant.ipynb

print('Hello')

symbol='D_SZ#002022.txt'

sm = SectionManager(symbol,level_day,30,60)
sm.get_all_cross_sections()

Hello
start to analyse D_SZ#002022.txt all cross sections...
14.67% 29.33% 44.00% 58.67% 73.34% 88.00% end to analyse D_SZ#002022.txt all cross sections...

             symbol      s_date      e_date    ampl  ma_per periods   boll
1   D_SZ#002022.txt  2004-12-22  2004-12-24  -10.53    3.28       3  False
2   D_SZ#002022.txt  2005-03-18  2005-05-11  -44.66    1.33      33  False
3   D_SZ#002022.txt  2005-07-19  2006-07-27 -322.58 -255.91     222  False
4   D_SZ#002022.txt  2006-09-22  2007-12-04  773.24  722.73     288   True
5   D_SZ#002022.txt  2007-12-28  2008-03-27   43.09   28.26      58   True
6   D_SZ#002022.txt  2008-05-29  2008-07-04   31.39   -4.49      25  False
7   D_SZ#002022.txt  2008-08-07  2008-08-29   32.62   -5.55      17  False
8   D_SZ#002022.txt  2008-12-05  2009-03-04   29.81   19.94      57   True
9   D_SZ#002022.txt  2009-05-08  2009-08-19   52.45    9.84      71  False
10  D_SZ#002022.txt  2009-10-09  2010-01-06   56.68   24.67      63   True
11  D_SZ#002022.txt  2010-02-11  2010-05-10   45.92   11.24      56  False
12  D_SZ#002022.txt  2010-08-27  2011-01-13   66.05   20.66      91  False
13  D_SZ#002022.txt  2011-03-22  2011-04-19    6.54   -3.05      19  False
14  D_SZ#002022.txt  2011-07-28  2011-08-29   28.76   -2.89      23   True
15  D_SZ#002022.txt  2011-11-28  2011-12-29   56.53   -3.54      24   True
16  D_SZ#002022.txt  2012-03-08  2012-04-27   22.67    0.54      33   True
17  D_SZ#002022.txt  2012-05-24  2012-10-09   27.81    9.08      93  False
18  D_SZ#002022.txt  2012-07-10  2012-10-09   24.89    8.52      61  False
19  D_SZ#002022.txt  2012-07-17  2012-10-09   24.89    7.84      56   True
20  D_SZ#002022.txt  2013-01-22  2013-07-15   74.21   55.63     112   True
21  D_SZ#002022.txt  2013-08-05  2013-09-23   20.49    1.43      34   True
22  D_SZ#002022.txt  2013-12-11  2014-04-30   60.41   48.19      69   True
23  D_SZ#002022.txt  2014-07-01  2014-11-07   25.75   19.89      88   True
24  D_SZ#002022.txt  2015-02-12  2015-07-29  153.92   80.17     104   True
25  D_SZ#002022.txt  2015-11-10  2016-01-12   66.07   11.06      45   True
26  D_SZ#002022.txt  2016-04-19  2016-05-26   22.00   -3.16      27   True
27  D_SZ#002022.txt  2016-07-04  2016-08-24   15.58    3.26      38   True
28  D_SZ#002022.txt  2016-09-08  2016-11-21   15.42    6.44      46   True
29  D_SZ#002022.txt  2017-03-10  2017-04-27   11.81    0.05      33   True
30  D_SZ#002022.txt  2017-09-12  2017-11-08   13.18    1.24      37   True
31  D_SZ#002022.txt  2018-04-09  2018-06-22   38.60    3.14      52   True
32  D_SZ#002022.txt  2018-12-12  2018-12-27    9.07   -2.79      12  False