In [14]:
%run ChanBiAnalyser.ipynb


chanBiAnalyser = ChanBiAnalyser('SZ#002607',level_day,'2015-02-26','2015-09-25',30,60)
chan_df = chanBiAnalyser.build_chan_bi_df()
chan_df

cur_point 2015-03-02 last_confirm:2015-02-27
cur_point 2015-03-06 last_confirm:2015-02-27
cur_point 2015-03-09 last_confirm:2015-03-06
cur_point 2015-06-29 last_confirm:2015-03-06
cur_point 2015-06-30 last_confirm:2015-06-29
cur_point 2015-07-02 last_confirm:2015-06-29
cur_point 2015-07-07 last_confirm:2015-06-29
cur_point 2015-07-15 last_confirm:2015-07-07
cur_point 2015-07-17 last_confirm:2015-07-07
cur_point 2015-07-24 last_confirm:2015-07-17
cur_point 2015-07-28 last_confirm:2015-07-24
cur_point 2015-07-30 last_confirm:2015-07-24
cur_point 2015-08-03 last_confirm:2015-07-24
cur_point 2015-08-14 last_confirm:2015-08-03
cur_point 2015-08-25 last_confirm:2015-08-14
cur_point 2015-08-26 last_confirm:2015-08-25
cur_point 2015-08-27 last_confirm:2015-08-25
cur_point 2015-08-28 last_confirm:2015-08-25
cur_point 2015-09-08 last_confirm:2015-08-25
cur_point 2015-09-09 last_confirm:2015-09-08
cur_point 2015-09-15 last_confirm:2015-09-08
cur_point 2015-09-17 last_confirm:2015-09-15
cur_point 2015-09-18 last_confirm:2015-09-15
       symbol        date turning_point  high   low confirm
1   SZ#002607  2015-02-27           top  3.69  3.52     YES
2   SZ#002607  2015-03-02        bottom  3.68  3.49      NO
3   SZ#002607  2015-03-06           top  4.46  3.99      NO
4   SZ#002607  2015-03-09        bottom  4.05  3.83      NO
5   SZ#002607  2015-06-29           top  6.73  5.68     YES
6   SZ#002607  2015-06-30        bottom  5.87  5.09      NO
7   SZ#002607  2015-07-02           top  6.41  5.40      NO
8   SZ#002607  2015-07-07        bottom  4.01  4.01      NO
9   SZ#002607  2015-07-15           top  4.76  4.46      NO
10  SZ#002607  2015-07-17        bottom  4.10  3.53     YES
11  SZ#002607  2015-07-24           top  4.76  4.37     YES
12  SZ#002607  2015-07-28        bottom  3.95  3.55      NO
13  SZ#002607  2015-07-30           top  4.15  3.83      NO
14  SZ#002607  2015-08-03        bottom  3.73  3.34     YES
15  SZ#002607  2015-08-14           top  6.78  5.93     YES
16  SZ#002607  2015-08-25        bottom  4.27  3.57      NO
17  SZ#002607  2015-08-26           top  4.76  4.13      NO
18  SZ#002607  2015-08-27        bottom  4.67  4.12      NO
19  SZ#002607  2015-08-28           top  5.09  4.41      NO
20  SZ#002607  2015-09-08        bottom  3.71  3.31      NO
21  SZ#002607  2015-09-09           top  4.17  3.90      NO
22  SZ#002607  2015-09-15        bottom  3.92  3.29     YES
23  SZ#002607  2015-09-17           top  4.65  4.08      NO
24  SZ#002607  2015-09-18        bottom  4.56  4.01      NO

,index,symbol,date,turning_point,high,low,confirm,price,increase
0,1,SZ#002607,2015-02-27,top,3.69,3.52,YES,3.69,0.00
1,5,SZ#002607,2015-06-29,top,6.73,5.68,YES,6.73,82.38
2,10,SZ#002607,2015-07-17,bottom,4.10,3.53,YES,3.53,-47.55
3,11,SZ#002607,2015-07-24,top,4.76,4.37,YES,4.76,34.84
4,14,SZ#002607,2015-08-03,bottom,3.73,3.34,YES,3.34,-29.83
5,15,SZ#002607,2015-08-14,top,6.78,5.93,YES,6.78,102.99
6,22,SZ#002607,2015-09-15,bottom,3.92,3.29,YES,3.29,-51.47

In [7]:
%run ChanBiAnalyser.ipynb


chanBiAnalyser = ChanBiAnalyser('SZ#002607',level_day,'2015-02-26','2015-09-25',30,60)
chan_df = chanBiAnalyser.build_chan_bi_df()
chan_df

       symbol        date turning_point  high   low confirm
1   SZ#002607  2015-02-27           top  3.69  3.52      NO
2   SZ#002607  2015-03-02        bottom  3.68  3.49      NO
3   SZ#002607  2015-03-06           top  4.46  3.99      NO
4   SZ#002607  2015-03-09        bottom  4.05  3.83      NO
5   SZ#002607  2015-06-29           top  6.73  5.68      NO
6   SZ#002607  2015-06-30        bottom  5.87  5.09      NO
7   SZ#002607  2015-07-02           top  6.41  5.40      NO
8   SZ#002607  2015-07-07        bottom  4.01  4.01      NO
9   SZ#002607  2015-07-15           top  4.76  4.46      NO
10  SZ#002607  2015-07-17        bottom  4.10  3.53      NO
11  SZ#002607  2015-07-24           top  4.76  4.37      NO
12  SZ#002607  2015-07-28        bottom  3.95  3.55      NO
13  SZ#002607  2015-07-30           top  4.15  3.83      NO
14  SZ#002607  2015-08-03        bottom  3.73  3.34      NO
15  SZ#002607  2015-08-14           top  6.78  5.93      NO
16  SZ#002607  2015-08-25        bottom  4.27  3.57      NO
17  SZ#002607  2015-08-26           top  4.76  4.13      NO
18  SZ#002607  2015-08-27        bottom  4.67  4.12      NO
19  SZ#002607  2015-08-28           top  5.09  4.41      NO
20  SZ#002607  2015-09-08        bottom  3.71  3.31      NO
21  SZ#002607  2015-09-09           top  4.17  3.90      NO
22  SZ#002607  2015-09-15        bottom  3.92  3.29      NO
23  SZ#002607  2015-09-17           top  4.65  4.08      NO
24  SZ#002607  2015-09-18        bottom  4.56  4.01      NO

,index,symbol,date,turning_point,high,low,confirm,price,increase
0,5,SZ#002607,2015-06-29,top,6.73,5.68,YES,6.73,0.00
1,10,SZ#002607,2015-07-17,bottom,4.10,3.53,YES,3.53,-47.55
2,11,SZ#002607,2015-07-24,top,4.76,4.37,YES,4.76,34.84
3,14,SZ#002607,2015-08-03,bottom,3.73,3.34,YES,3.34,-29.83
4,15,SZ#002607,2015-08-14,top,6.78,5.93,YES,6.78,102.99
5,22,SZ#002607,2015-09-15,bottom,3.92,3.29,YES,3.29,-51.47